*.exe
*.exe~
*.test
*.prof
*.rar
*.zip
*.gz
*.psd
*.bmd
*.cfg
*.pptx
*.log
*nohup.out
*.ini

src/template/*
src/static/*
src/config
src/router
src/controller
src/config/conf.ini
src/router/router.go
src/controller/IndexController.go
data/*
